
/* reset */
*{							
	margin: 0 auto;			
	padding: 0 ;
	list-style: none;
	text-decoration: none;
	color: black;
	}

/* 공통클래스 */

:root{
	--abwidth : 1200px; /* A,B형 컨테이너 */
	--cwidth : 1000px; /* c형 컨테이너 */
}
.abs{position: absolute ;}
.rel{position: relative ;}
.d-flex{display: flex;}
.d-block{display: block ;}
.d-none{display: none;}

.justify-content-between{justify-content: space-between;}
.align-center{align-items: center;}
.m-auto{margin: 0 auto;}
.w-100{width: 100px;}
.text-center{text-align: center;}
.b-top{border-top: 2px solid black;}
.b-bottom{border-bottom: 2px solid black;}




/* 웹기능사 C-2형 시험때 필요한 것 */
.h100{height: 100px;}
.h200{height: 200px;}
.h300{height: 300px;}

.contain{max-width:var(--cwidth)}

.bgr{background-color: red;}

header{width: 200px;}
.right{width: 800px;}
.d1a{ line-height: 2; font-size: 20px;}

#gnb> li:hover .d1a{color: white; background-color: green;}
.d2{ height: 0; overflow: hidden; background-color: green; transition: height 0.5s;
	 font-size: 18px; line-height: 2; text-align: center; left: 100%; top: -30px; width: 200px;
}
.d2 a{ color: white; }

#gnb li:hover .d2{height: 180px;}
#gnb li:nth-child(2):hover.d2{height: 80px; top: -10px;}



.d2 li:hover{ background-color: white;}
.d2 li:hover a{color: black;}

